# Auto-detect text files and normalize line endings
* text=auto

# Git files
*.gitignore text
*.gitattributes text

# Go sources
*.go text eol=lf

# JavaScript / TypeScript
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.vue text eol=lf
*.json text eol=lf

# Web
*.html text eol=lf
*.css text eol=lf

# Config
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.md text eol=lf

# Binary files
*.png binary
*.ico binary
*.woff2 binary
